.intro {
  width: 100vw;
  height: 100vh;
  margin-bottom: -10%;
  position: relative;

  @media (min-width: 768px) {
    margin-bottom: 10%;
    height: unset;
  }

  &__circle {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(
      30deg,
      #000000 15%,
      #851283 55%,
      #ff00bc 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      30deg,
      #000000 15%,
      #851283 55%,
      #ff00bc 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      30deg,
      #000000 15%,
      #851283 55%,
      #ff00bc 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ff00c8',GradientType=1 );
    margin: auto;
    width: 75vw;
    height: 75vw;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 8%;
  }

  &__title {
    color: #fff;
    letter-spacing: 1rem;
    padding-left: 1rem;
    width: 10.5rem;
    text-shadow: -4px 2px 0 #c2018e, -7px 6px 0 #0a0e27;

    @media (min-width: 1024px) {
      letter-spacing: 3rem;
      width: 19.5rem;
    }

    & h1 {
      font-size: 3rem;
      line-height: 5rem;
      text-align: justify;

      @media (min-width: 1024px) {
        font-size: 4rem;
        line-height: 8rem;
      }

      &--ghosted {
        opacity: 0.6;
      }
    }
  }

  &__image {
    max-width: unset;
    position: absolute !important;
    top: -30%;
    transform: rotate(-20deg);
    width: 200vw;
    z-index: -1;
    left: -120%;
    transform: translateX(80vw) rotate(160deg);
    overflow: visible;
  }
}
