.list {
  width: 100%;
  margin-top: 2rem;

  &__item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    justify-items: center;
    grid-gap: 1rem;

    & a,
    & p {
      width: 100%;
      font-size: 1.3rem;
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  & h1 {
    font-size: calc(3.5rem + 2vw);
  }
}
