.footer {
  padding: 1rem;

  &__copy {
    flex: 1 0 20%;
    text-align: center;
  }

  & .socialLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 80%;

    & > div {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 50%;

      & .socialButton {
        min-width: 25%;
        flex: 1 1 25%;
        min-width: 7rem;
      }
    }
  }
}
